---
import Layout from "../../layouts/Layout.astro";
import { getAllPosts, getPost } from "../../lib/client";

export async function getStaticPaths() {
  const data = await getAllPosts();
  const allPosts = data.publication.posts.edges;
  return allPosts.map((post) => {
    return {
      params: { slug: post.node.slug },
    };
  });
}
const { slug } = Astro.params;
const post = await getPost(slug);
---

<Layout title={post.title}>
  <img src={post.coverImage?.url || ""} alt={post.title} />

  <h1>{post.title}</h1>
  <p>{post.readTimeInMinutes} min read</p>

  <div set:html={post.content.html} />
</Layout>

<style>
  * {
    color: white;
  }

  div a {
    color: red;
  }
</style>
